<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add a new cat</title>
  </head>
  <body>
    <%= render "form", cat: @cat, action: :new%>
  </body>

  <% content_for :footer do %>
    <p> Let's make a new cat! </p>
  <% end %>
</html>
