<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" content="text/html" http-equiv="Content-Type">
  </head>
  <body>
    <h1>Welcome, user.name<h2>
      <p>
        To the greatest cats rental service in the world
      </p>
  </body>
</html>
